# macOS
.DS_Store

.svelte
node_modules
/build
/.svelte-kit
/package
.env

src/.vuepress/.cache
src/.vuepress/.temp
pids
logs
node_modules
npm-debug.log
coverage/
run
dist
.nyc_output
.basement
config.local.js
basement_dist
S3
pnpm-lock.yaml
.next
node_modules
out
