:root{
  --c-brand: #303030;
  --c-text-accent: var(--c-brand);
  --c-bg-navbar: var(--c-brand);
  --c-text-lightest: #868686;
  --c-text-lighter: #757575;
  --navbar-height: 3rem !important;
}

:root.dark{
  --c-brand: white;
  --c-bg-navbar: #303030;
  --c-bg: #151515;
  --c-text: #D4D4D4;
  --c-text-lightest: #D4D4D4;
  --c-text-lighter: #D4D4D4;
}

.toggle-dark-button{
  display: none;
}

.toggle-sidebar-button .icon span{
  background: white;
}

.toggle-sidebar-button{
  top: 0.2rem !important;
}

.navbar .site-name{
  font-size: 1.18rem !important;
}

#faqs > h3{
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  font-size: 1.08rem;
  color: #303030;
}

.dark #faqs > h3{
  color: white;
}

#faqs > p, #faqs > ul{
  margin-top: 0;
  margin-bottom: 0.32rem;
  padding: 0;
  font-size: 1.08rem;
  margin-left: 1.4rem;
}

.header-anchor{
  display: none;
}

.navbar{
  color: white;
}

.navbar .site-name{
  color: white;
}

.home .hero img{
  max-width: 450px;
}

div[class*="language-"]::before{
  display: none;
}

code{
  background: rgba(27,31,35,0.1);
  color: #303030;
}

.dark code{
  background: #282c34;
  color: white;
}

th, td{
  border: 1px solid #acacac;
}

.dark tr:nth-child(2n){
  background: #303030;
}

.dark th, td{
  border: 1px solid #808080;
}

tr:nth-child(2n){
  background-color: #f0f0f0;
}

.dark .navbar{
  color: #d4d4d4;
}

.dark .feature a:hover{
  border-bottom: 2px solid #D4D4D4;
}

.copy-code-button{
  top: 8px !important;
  right: 8px !important;
  background: transparent !important;
  color: rgba(255, 255, 255, 0.5) !important;
  z-index: 10 !important;
  opacity: 0;
}

.sidebar .navbar-items .navbar-item{
  height: 22px;
}

.table-no-heading tbody{
  width: 100%;
}

.table-no-heading tbody tr td:last-child{
  width: 100%;
}

div[class*="language-"]:hover .copy-code-button{
  opacity: 1;
}

.icon-copy-code:hover{
  color: white !important;
}

.code-group__nav-tab-active{
  border-bottom: white 1px solid;
}

.table-no-heading thead{
  display: none;
}

.table-no-heading .copy-btn{
  position: relative;
  width: 100%;
  display: block;
}

.table-no-heading .hover{
  opacity: 1 !important;
  top: 2px !important;
  right: -10px;
  height: 20px;
}

.table-no-heading .hover path:last-child{
  fill: #8e8e8e;
}

.table-no-heading .success{
  display: none;
}

.theme-container.home-page-class .theme-default-content:not(.custom) {
  max-width: 968px !important;
}

@media screen and (max-width: 719px){
  @media (prefers-color-scheme: dark) {
    .navbar-item > a:hover, .navbar-item > a.router-link-active{
      border-bottom: 2px solid #d4d4d4;
    }
  }
  
  @media (prefers-color-scheme: light) {
    .navbar-item > a:hover, .navbar-item > a.router-link-active{
      border-bottom: 2px solid #303030;
    }
  }

  .copy-code-button{
    opacity: 1
  } 
}
