:root{
  --c-brand: #303030;
  --c-text-accent: var(--c-brand);
  --c-bg-navbar: var(--c-brand);
  --c-text-lightest: #868686;
}

.header-anchor{
  display: none;
}

.navbar{
  color: white;
}

.navbar .site-name{
  color: white;
}

.navbar-item > a:hover, .navbar-item > a.router-link-active{
  border-bottom: 2px solid white;
}

.navbar-items a:hover, .navbar-items a.router-link-active{
  color: white;
}

.navbar-items a:hover, .navbar-items a.router-link-active{
  color: white;
}

.home .hero img{
  max-width: 450px;
}

code{
  background: rgba(27,31,35,0.1);
  color: #303030;
}

th, td{
  border: 1px solid #acacac;
}

tr:nth-child(2n){
  background-color: #f0f0f0;
}

.copy-code-button{
  margin-right: 20px;
  margin-bottom: 20px;
}
