:root{
  --c-brand: #303030;
  --c-text-accent: var(--c-brand);
  --c-bg-navbar: var(--c-brand);
  --c-text-lightest: #868686;
  --c-text-lighter: #757575;
  --navbar-height: 3rem !important;
}

.toggle-sidebar-button .icon span{
  background: white;
}

.toggle-sidebar-button{
  top: 0.2rem !important;
}

.navbar .site-name{
  font-size: 1.18rem !important;
}

#faqs > h3{
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  font-size: 1.08rem;
}

#faqs > p, #faqs > ul{
  margin-top: 0;
  margin-bottom: 0.32rem;
  padding: 0;
  font-size: 1.08rem;
  margin-left: 1.4rem;
}

.header-anchor{
  display: none;
}

.navbar{
  color: white;
}

.navbar .site-name{
  color: white;
}

.navbar-item > a:hover, .navbar-item > a.router-link-active{
  border-bottom: 2px solid white;
}

.navbar-items a:hover, .navbar-items a.router-link-active{
  color: white;
}

.navbar-items a:hover, .navbar-items a.router-link-active{
  color: white;
}

.home .hero img{
  max-width: 450px;
}

div[class*="language-"]::before{
  display: none;
}

code{
  background: rgba(27,31,35,0.1);
  color: #303030;
}

th, td{
  border: 1px solid #acacac;
}

tr:nth-child(2n){
  background-color: #f0f0f0;
}

.copy-code-button{
  top: 8px !important;
  right: 8px !important;
  background: transparent !important;
  color: rgba(255, 255, 255, 0.5) !important;
  z-index: 10 !important;
  opacity: 0;
}

div[class*="language-"]:hover .copy-code-button{
  opacity: 1;
}

.icon-copy-code:hover{
  color: white !important;
}

.code-group__nav-tab-active{
  border-bottom: white 1px solid;
}

.table-no-heading thead{
  display: none;
}

.table-no-heading .copy-btn{
  position: relative;
  width: 100%;
  display: block;
}

.table-no-heading .hover{
  opacity: 1 !important;
  top: 2px !important;
  right: -10px;
  height: 20px;
}

.table-no-heading .hover path:last-child{
  fill: #8e8e8e;
}

.table-no-heading .success{
  display: none;
}

@media screen and (max-width: 719px){
  .navbar-item > a:hover, .navbar-item > a.router-link-active{
    border-bottom: 2px solid #303030;
  }

  .navbar-items a:hover, .navbar-items a.router-link-active{
    color: #303030;
  }

  .navbar-items a:hover, .navbar-items a.router-link-active{
    color: #303030;
  } 

  .copy-code-button{
    opacity: 1
  } 
}
