@tailwind base;
@layer base {
  input[type="text"]:disabled,
  input[type="email"]:disabled,
  input[type="url"]:disabled {
    @apply px-0 border-none bg-transparent;
  }
  input:focus {
    @apply border-opacity-100 outline-none;
  }
}

@tailwind components;
@tailwind utilities;
