@import url('./explorer.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

.nextra-nav-container {
    @apply h-12;
}

.nextra-nav-container nav {
    @apply h-full;
}

.hello-about {
    color: white;
}

.dark.hello-about {
    color: #303030;
}

a[target="_blank"]:after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23334155' %3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25' /%3E%3C/svg%3E%0A");
    width: 14px;
    height: 20px;
    display: inline-block;
    position: relative;
}

.dark a[target="_blank"]:after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23e2e8f0' %3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25' /%3E%3C/svg%3E%0A");
}

nav a[target="_blank"]:after {
    top: 2px;
    left: 9px;
    opacity: 0.75;
}

main a[target="_blank"]:after {
    top: 1px;
    margin-left: 4px;
}