name: Sync with S3

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    
jobs: 
  sync:
    if: |
        github.event_name == 'workflow_dispatch' ||
        github.event_name == 'push'
    uses: hellocoop/tools/.github/workflows/content-sync.yml@main
    # GitHub-Slack app sends a workflow status message with live updates to #content-updates channel
    with:
      STACK: WwwDevStack #make sure this is the right stack value