on:
  workflow_dispatch:
    
jobs:
  deploy:
    name: Upload to Amazon S3
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Configure web-sync AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.S3_SYNC_AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.S3_SYNC_SECRET_ACCESS_KEY }}
        aws-region: us-west-2

    - name: Install modules
      run: npm install

    - name: Build content
      run: npm run build

    - name: Copy S3 dir to S3 bucket with the AWS CLI
      run: aws s3 sync S3/ s3://${{ secrets.BUCKET_NAME }}/
  
    - name: Invalidate CloudFront cache
      run: aws cloudfront create-invalidation --distribution-id ${{ secrets.DISTRIBUTION_ID }} --paths "/*"

